<ul class="navbar">
    <li class="login" onclick="alert('아직 베타서비스가 시작되지 않았습니다. 사전예약을 해주시면 서비스 시작일에 맞춰 안내메일을 보내드릴게요!')"> 로그인</li>
    <li class="register" onclick="alert('아직 베타서비스가 시작되지 않았습니다. 사전예약을 해주시면 서비스 시작일에 맞춰 안내메일을 보내드릴게요!')">회원가입</li>
    <li class="lang_eng" onclick="alert('Sorry, English page is not ready yet :(')">ENG</li>
    <a href="/"><img src="./img/logo.png"/></a>
</ul>