<!DOCTYPE html>
<html class="html">
    <head>
        <meta charset="utf-8">
        <title>Rendercube - alpha</title>
        <link rel="stylesheet" href="./source/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="source/js/index.js"></script>
    </head>
    <body>
        <div class="contents-wrap">
            <ul class="navbar">
                <li><a href="/login">Login</a></li>
                <li>|</li>
                <li class="reg"><a href="/register">Register</a></li>
                <li class="reg_renderfarm"><a href="/reg_renderfarm">Register Renderfarm</a></li>
                <li class=""><a href="">Start Rendering</a></li>
                <li class=""><a href="">About Rendercube</a></li>
                <div class="logo"></ul>
            </ul>
            <!-- Slide - Dots ==> Always fixed position -->

            <div class="dots_slide">
                <div class="dots dot_a selected"></div>
                <div class="dots dot_b"></div>
                <div class="dots dot_c"></div>
                <div class="dots dot_d"></div>
            </div>

            <!-- Main Contents -->

            <div class="main-a">
                <div class="main_text">
                    <div class="sub_contents_main_text">
                        <p class="sub_a">
                            Rendercube, Welcome
                        </p>
                        <div class="bar bar-under-a"></div>
                    </div>
                    <p class="main_title_text">
                        Begins of <br> Faster Rendering
                    </p>
                    <p class="main_sub_text">
                        Meet Alpha Service at March 11th.
                    </p>
                </div>
            </div>
            <div class="main-b">
                <div class="main_text">
                    <div class="sub_contents_main_text">
                        <p class="sub_b">
                            Rendercube - Service Intro
                        </p>
                        <div class="bar bar-under-b"></div>
                    </div>
                    <p class="main_title_text">
                        Rendercube,
                    </p>
                    <p class="main_title_text_b">
                        Online Rendering Service
                    </p>
                </div>
            </div>
            <div class="main-c">
                <div class="main_text">
                    <div class="sub_contents_main_text">
                        <p class="sub_c">
                            Renderfarm, ways to earn money easily
                        </p>
                        <div class="bar bar-under-c"></div>
                    </div>
                    <p class="main_title_text">
                        Renderfarm,
                    </p>
                    <p class="main_title_text_b">
                        Rendering Host for Users
                    </p>
                    <p class="main_sub_text">
                        Meet Renderfarm at Beta Service
                    </p>
                </div>
            </div>
            <div class="main-d">
                <div class="main_text">
                    <p class="main_title_text">
                        Rendercube
                    </p>
                    <p class="main_title_text_b">
                        Online Rendering Service
                    </p>
                </div>
                <div class="buttons_div">
                    <div class="button button_white btn_check_ext">
                        <div class="subtitle">
                            <p class="sub_text_btn">Rendercube Introduction</p>
                            <div class="bar bar-button-d"></div>
                        </div>
                        <p class="main_text_btn">Check support extensions</p>
                        <a href="/introduction#check_ext"><img src="./source/img/arrow_point_black.png"/></a>
                    </div>
                    <div class="button button_black btn_reserv_user">
                        <div class="subtitle">
                            <p class="sub_text_btn">Rendercube Registration</p>
                            <div class="bar bar-button-d"></div>
                        </div>
                        <p class="main_text_btn">Make a Using Reservation</p>
                        <p class="main_text_btn_b">with benefits</p>
                        <a href="/introduction#check_ext"><img src="./source/img/arrow_point_white.png"/></a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>