<head>
    <head>
        <meta charset="utf-8">
        <title><%= title%></title>
        <link rel="stylesheet" href="../design_source/source/css/index_renewal.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="../design_source/source/js/index_renewal.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="icon" type="image/png" href="./source/img/favicon.png"/>
    </head>
    <body>
        <div class="contents-wrap">
            <div class="side_bar">
                
            </div>
            <div class="main_cover">
                <div class="main_a">
                    <div class="s_title_cover">
                        <p class="stitle">Rendercube, welcome</p>
                        <div class="bar bar_under_stitle"></div>
                    </div>
                    <
                </div>
            </div>
        </div>
    </body>
</head>