<!DOCTYPE html>
<html class="html">
    <head>
        <meta charset="utf-8">
        <title>Rendercube - Login</title>
        <link rel="stylesheet" href="./source/css/login.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="source/js/login.js"></script>
    </head>
    <body>
        <div class="contents-wrap">
            <ul class="navbar">
                <li><a href="/login">Login</a></li>
                <li>|</li>
                <li class="reg"><a href="/register">Register</a></li>
                <div class="logo"></ul>
            </ul>

            <!-- Main Contents -->
            <div class="login_cover fadeInUp fadein_0_5s">
                <div class="login_form">
                    <div class="title_area">
                        <p class="title_text fadeInDown fadein_1s">LOGIN</p>
                        <div class="bar bar_under_title"></div>
                    </div>
                    <form class="login_form_tag fadeIn fadein_2s" id="login_form_tag" method="post" action="/login">
                        <div class="subtitle">
                            <p class="subtitle_text">Service Login</p>
                            <div class="bar bar_right_text"></div>
                        </div>
                        <div class="login_info">
                            <p class="notice id">ID</p>
                            <input type="text" class="input input_id" id="id" name="id"/>
                            <p class="notice pw">PW</p>
                            <input type="password" class="input input_pw" id="pw" name="pw"/>
                        </div>
                        <div class="login_button" id="login_button" onclick="login_check()" style="cursor: pointer;">
                            <p>Login</p>
                            <img src="source/img/arrow_point_white.png"/>
                        </div>
                    </form>
                </div>
                <div class="bar bar_divide fadeIn fadein_2s"></div>
                <div class="onetime fadeIn fadein_2s">
                    <div class="subtitle">
                        <p class="subtitle_text">Onetime Service</p>
                        <div class="bar bar_right_text"></div>
                    </div>
                    <div class="ban">
                        <p>This Service will be activated<br> when formal service starts</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>